<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications newPostNotificationTemplateId="a3a188e8-6b37-4271-9248-d788e6817196" newThreadNotificationTemplateId="051fa6ee-dab6-4663-9ed4-628f2ed02d10" />
</forumsConfig>