<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0" multilingual="True" defaultUrlLocalizationStrategyKey="SubFolderUrlLocalizationStrategy">
	<cultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="bg" uiCulture="bg" key="bulgarian-bg" />
		<add culture="hr-HR" uiCulture="hr-HR" key="croatian (croatia)-hr-hr" />
	</cultures>
	<backendCultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
	</backendCultures>
	<urlLocalizationStrategySettings>
		<clear />
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.SubFolderUrlLocalizationStrategy" urlLocalizationStrategyName="SubFolderUrlLocalizationStrategy">
			<urlLocalizationStrategySettings>
				<add setting="en" cultureKey="english-en" />
			</urlLocalizationStrategySettings>
		</add>
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.DomainUrlLocalizationStrategy" urlLocalizationStrategyName="DomainUrlLocalizationStrategy">
			<urlLocalizationStrategySettings>
				<add setting="en.localhost" cultureKey="english-en" />
			</urlLocalizationStrategySettings>
		</add>
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.TranslatedUrlsLocalizationStrategy" urlLocalizationStrategyName="TranslatedUrlsLocalizationStrategy" />
	</urlLocalizationStrategySettings>
</resourcesConfig>