<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications formEntrySubmittedNotificationTemplateId="0f3c1629-d3f2-437e-b09b-b631eb773a64" />
</formsConfig>