<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications newPostNotificationTemplateId="963981b4-c2a2-4966-a19d-e3a6e9452d58" newThreadNotificationTemplateId="7a8382a4-6e29-4499-ba11-c1d7ae0bee08" />
</forumsConfig>